* text=auto

/.github export-ignore
/app export-ignore
/bootstrap export-ignore
/config export-ignore
/tests export-ignore
/.gitignore export-ignore
/box.json export-ignore
/laradra export-ignore
/phpcs.xml export-ignore
/phpunit.xml.dist export-ignore
/README.md export-ignore
